.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.basemap-selector,
.search-by-coordinates,
.layer-list-container {
  margin: 0 10px;
}

.basemap-selector label,
.search-by-coordinates label {
  margin-right: 10px;
}

.basemap-selector select,
.search-by-coordinates input {
  margin-right: 5px;
}

.layer-list-container .esri-layer-list {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
